###不需要上传到git服务器上的有###
.idea
.idea/*
.idea/　　　
.mvn　　　　
*.iml
*.log
*.log.*
*.jar
.metadata/
mvnw
mvnw.cmd
logs/
target/
help.md

.project
.settings
.classpath


/node_modules/
/dist/
/build/

application.properties