<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ecut.cnr.view.mapper.news.NewsMapper">
    <sql id="NewsTitle">
        `id`, `title`, `user_id`, type_id, pub_time, read_times, comment_times, news_pic
    </sql>
    <sql id="NewsContext">
        id, context, title_id
    </sql>
    <resultMap id="BaseTitleMap" type="com.ecut.cnr.framework.entity.news.NewsTitle">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="user_id" property="userId"/>
        <result column="type_id" property="typeId"/>
        <result column="pub_time" property="pubTime"/>
        <result column="read_times" property="readTimes"/>
        <result column="comment_times" property="commentTimes"/>
        <result column="news_pic" property="newsPic"/>
    </resultMap>

    <resultMap id="BaseContextMap" type="com.ecut.cnr.framework.entity.news.NewsContext">
        <id column="id" property="id"/>
        <result column="title_id" property="titleId"/>
        <result column="context" property="context"/>
    </resultMap>
    <insert id="addNewsTitle">
        insert into news_title
         (<include refid="NewsTitle"/>)
         values(
            #{newsTitle.id},#{newsTitle.title},#{newsTitle.userId},#{newsTitle.typeId},
            #{newsTitle.pubTime},#{newsTitle.readTimes},#{newsTitle.commentTimes},#{newsTitle.newsPic}
        );
    </insert>
    <insert id="addNewsContext">
        insert into news_context
        (<include refid="NewsContext"/>)
        values (
        #{newsContext.id,},#{newsContext.context},#{newsContext.titleId}
        )
    </insert>
    <select id="getAllType" resultType="com.ecut.cnr.framework.entity.news.NewsType">
        select * from news_type;
    </select>
    <select id="selectAllPage" resultType="com.ecut.cnr.framework.bo.news.NewQueryBO">
        SELECT
	        nt.id AS id,
	        nt.title AS title,
	        nt.audit_time AS auditTime,
	        t.type_name AS typeName,
	        nt.pub_time AS pubTime,
	        nt.read_times AS readTimes,
            nt.comment_times AS commentTimes,
	        nt.news_pic ASnewsPic,
	        nc.context AS context,
	        u1.username AS userName,
	        u2.username AS auditName
        FROM
	        news_title nt
        LEFT JOIN news_context nc ON nt.id = nc.title_id
        LEFT JOIN t_sys_user u1 ON u1.id = nt.user_id
        LEFT JOIN t_sys_user u2 ON u2.id = nt.audit_id
        LEFT JOIN news_type t ON t.id = nt.type_id
        Order by nt.id
    </select>
</mapper>