<!DOCTYPE html>
<html lang="en" class="x-admin-sm" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>部门添加</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" th:href="@{/static/css/font.css}">
    <link rel="stylesheet" th:href="@{/static/css/xadmin.css}">
    <script th:src="@{/static/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/static/js/xadmin.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/jquery.min.js}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row">
        <form class="layui-form" method="post">
            <input type="text" id="id" name="id"  th:value="${dept.id}" hidden>
            <div class="layui-form-item">
                <label for="deptName" class="layui-form-label">
                    <span class="x-red">*</span>部门名称
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="deptName" name="deptName" th:value="${dept.deptName}" readonly required="" lay-verify="required"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="master" class="layui-form-label">
                    <span class="x-red">*</span>主负责人
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="master" name="master" required="" lay-verify="required"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="remark" class="layui-form-label">
                    <span class="x-red">*</span>备注信息
                </label>
                <div class="layui-input-block">
                    <textarea id="remark" name="remark" placeholder="备注" th:value="${dept.remark}" readonly class="layui-textarea"></textarea>
                </div>
            </div>

            <div class="layui-form-item">
                <button  class="layui-btn" lay-filter="add" lay-submit>
                    添加负责人
                </button>
            </div>
        </form>
    </div>
</div>
<script>
    layui.config({
        base: '/cnr/static/lib/'
    }).extend({
        iconPicker: 'iconPicker/iconPicker'
    }).use(['form','jquery','layer','iconPicker'],function() {
        $ = layui.jquery;
        var form = layui.form;
        var iconPickers = layui.iconPicker;
        var layer = layui.layer;
        //自定义验证规则
        var icons = iconPickers.render({
            // 选择器，推荐使用input
            elem: '#iconPicker',
            // 数据类型：fontClass/unicode，推荐使用fontClass
            type: 'fontClass',
            // 是否开启搜索：true/false
            search: true,
            // 是否开启分页
            page: true,
            // 每页显示数量，默认12
            limit: 12,
            // 点击回调
            click: function (data) {
                console.log(data);
            }
        });
        iconPickers.checkIcon('iconPicker', 'layui-icon-star-fill');
        //监听提交
        form.on('submit(add)',
            function(data) {
                console.log(data.field);
                //发异步，把数据提交给后端
                $.ajax({
                    url: ctx+"company/update/dept/master",
                    type: "post",
                    data: JSON.stringify(data.field),
                    dataType: "json",
                    contentType: "application/json",
                    success:function(data){
                        if(data.code == 200){
                            layer.alert("增加成功", {
                                    icon: 6
                                },
                                function() {
                                    //关闭当前frame
                                    xadmin.close();

                                    // 可以对父窗口进行刷新
                                    xadmin.father_reload();
                                });
                        } else {
                            layer.msg(data.msg,{icon:1,time:1000});
                        }

                    }
                });

                return false;
            });

    });



</script>
<script>var _hmt = _hmt || []; (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
})();</script>
</body>
<script th:inline="javascript">
    var ctx = [[@{/}]];
</script>
</html>
