<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecut.cnr.view.mapper.sys.SysRoleMapper">

    <resultMap id="BaseResultMap" type="com.ecut.cnr.framework.entity.sys.SysRole">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="role_name" property="roleName" jdbcType="VARCHAR"/>
        <result column="create_user_id" property="createUserId" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="role_identity" property="roleIdentity" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="DATE"/>
        <result column="create_time" property="createTime" jdbcType="DATE"/>
    </resultMap>
    <sql id="key">
        <if test="sysRole.id !=null">
            id,
        </if>
        <if test="sysRole.roleName !=null">
            role_name,
        </if>
        <if test="sysRole.remark !=null">
            remark,
        </if>
        <if test="sysRole.createUserId !=null">
            create_user_id,
        </if>
        <if test="sysRole.roleIdentity !=null">
            role_identity,
        </if>
        create_time,
        update_time
    </sql>

    <sql id="values">
        <if test="sysRole.id !=null">
            #{sysRole.id},
        </if>
        <if test="sysRole.roleName !=null">
            #{sysRole.roleName},
        </if>
        <if test="sysRole.remark !=null">
            #{sysRole.remark},
        </if>
        <if test="sysRole.createUserId !=null">
            #{sysRole.createUserId},
        </if>
        <if test="sysRole.roleIdentity !=null">
            #{sysRole.roleIdentity},
        </if>
        NOW(),
        NOW()
    </sql>
    <insert id="insertUserRole">
        INSERT INTO t_user_role (user_id,role_id)
        VALUE (#{userId},#{roleId})
    </insert>

    <delete id="deleteUserRole">
        DELETE
         FROM t_user_role
        WHERE user_id = #{id}
    </delete>
    <delete id="deleteUserRoleByRoleId">
        DELETE
        FROM t_user_role
        WHERE role_id = #{id}
    </delete>
    <delete id="deleteRoleMenuByRoleId">
        DELETE
        FROM t_role_menu
        WHERE role_id =#{id}
    </delete>
    <delete id="deleteRoleMenuByRoleIdAndMenuId">
        DELETE
        FROM t_role_menu
        WHERE role_id =#{roleId}
    </delete>

    <select id="selectByUserId" resultType="java.lang.String">
        SELECT
         role_id
         from t_user_role
         WHERE user_id = #{userId}
    </select>
    <select id="findRoleNamesByIds" resultType="java.lang.String">
        SELECT role_identity
        FROM t_sys_role
        WHERE id IN
        <foreach collection="roleIds" item="roleId" close=")" open="(" separator=",">
            #{roleId}
        </foreach>
    </select>
    <select id="findBuUserId" resultType="java.lang.String">
        SELECT role_name
        FROM t_sys_role
        WHERE id IN(
        SELECT role_id
        FROM t_user_role
        WHERE user_id =#{id}
        )
    </select>
    <select id="findAllRoles" resultType="com.ecut.cnr.framework.bo.sys.RoleInfoBO">
        SELECT
        tr.id,tr.role_name,tr.remark,tr.create_user_id,tr.create_time,tr.update_time,tr.role_identity,tu.username as createUser
        FROM t_sys_role tr
        left join t_sys_user tu on tr.create_user_id = tu.id
        where 1=1
        <if test="roleSearchDto.roleName != null and roleSearchDto.roleName != ''">
            AND tr.role_name like CONCAT(#{roleSearchDto.roleName},'%')
        </if>
    </select>
    <insert id="saveRole">
        INSERT
         INTO t_sys_role(<include refid="key"/>)
        VALUES
        (<include refid="values"/>)

    </insert>
    <insert id="savePrivilege">
          INSERT INTO t_role_menu(role_id,menu_id)
          VALUES (#{id},#{privilege})
    </insert>

    <select id="findPermsByRoleId" resultType="java.lang.String">
        SELECT menu_id
        FROM t_role_menu
        WHERE role_id = #{roleId}
    </select>

</mapper>
