<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ecut.cnr.view.mapper.sys.SysUserMapper">
    <update id="updateStatusById">
        UPDATE t_sys_user
        SET enabled = #{sysUser.enabled}
        where id = #{sysUser.id}
    </update>
    <update id="updatePasswordOrPic">
         UPDATE t_sys_user
        <set>
            <if test="sysUser.password != null">
                password = #{sysUser.password},
            </if>
            <if test="sysUser.salt != null">
                salt = #{sysUser.salt},
            </if>
            <if test="sysUser.userface != null">
                userface = #{sysUser.userface}
            </if>
        </set>
        <where>
            <if test="sysUser.id != null">
                id = #{sysUser.id}
            </if>
        </where>
    </update>
    <insert id="saveRole">
        INSERT into t_user_role(user_id,role_id) values(#{userId},#{roleId})
    </insert>
    <delete id="deleteAllRole">
        delete
        from
        t_user_role
        where user_id = #{id}
    </delete>

    <select id="selectByUsername" resultType="com.ecut.cnr.framework.entity.sys.SysUser">
        SELECT * FROM t_sys_user WHERE username = #{username}
    </select>
    <select id="findAllUsers" resultType="com.ecut.cnr.framework.dto.sys.SysUserDto">
        SELECT tu.*,
        td.dept_name as deptName
        FROM t_sys_user tu
        left join t_sys_dept td on td.id = tu.dept_id
        where 1=1
        <if test="userSearchDto != null">
            <if test="userSearchDto.start != null">
                AND tu.create_time >= #{userSearchDto.start}
            </if>
            <if test="userSearchDto.end != null">
                AND tu.create_time &lt;= #{userSearchDto.end}
            </if>
            <if test="userSearchDto.username != null and userSearchDto.username != ''">
                AND tu.username = #{userSearchDto.username}
            </if>
        </if>
    </select>
    <select id="findRoleById" resultType="java.lang.String">
        select role_id from t_user_role where user_id = #{id}
    </select>
</mapper>