<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ecut.cnr.view.mapper.sys.SysUserMapper">
    <update id="updateStatusById">
        UPDATE t_sys_user
        SET enabled = #{sysUser.enabled}
        where id = #{sysUser.id}
    </update>
    <insert id="saveRole">
        INSERT into t_user_role(user_id,role_id) values(#{userId},#{roleId})
    </insert>
    <delete id="deleteAllRole">
        delete
        from
        t_user_role
        where user_id = #{id}
    </delete>

    <select id="selectByUsername" resultType="com.ecut.cnr.framework.entity.sys.SysUser">
        SELECT * FROM t_sys_user WHERE username = #{username}
    </select>
    <select id="findAllUsers" resultType="com.ecut.cnr.framework.dto.sys.SysUserDto">
        SELECT *
        FROM t_sys_user
        where 1=1
        <if test="userSearchDto != null">
            <if test="userSearchDto.start != null">
                AND create_time >= #{userSearchDto.start}
            </if>
            <if test="userSearchDto.end != null">
                AND create_time &lt;= #{userSearchDto.end}
            </if>
            <if test="userSearchDto.username != null and userSearchDto.username != ''">
                AND username = #{userSearchDto.username}
            </if>
        </if>
    </select>
    <select id="findRoleById" resultType="java.lang.String">
        select role_id from t_user_role where user_id = #{id}
    </select>
</mapper>