<!DOCTYPE html>
<html lang="en" class="no-js" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>

        <meta charset="utf-8">
        <title>Fullscreen Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- CSS -->
        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=PT+Sans:400,700}'>
        <link rel="stylesheet" th:href="@{/static/css/reset.css}">
        <link rel="stylesheet" th:href="@{/static/css/supersized.css}">
        <link rel="stylesheet" th:href="@{/static/css/style.css}">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    </head>
    <body>

        <div class="page-container">
            <h1>Login</h1>
            <form id="loginForm" method="post">
                <input class="uuid" type="text" name="uuid" hidden>
                <input type="text" name="username" class="username" placeholder="用户名">
                <input type="password" name="password" class="password" placeholder="密码">
                <div class="captcha">
                    <input class="captcha-val" name="captcha" type="text" height="44" placeholder="验证码">
                    <img src=""  class="captcha-msg" height="44" width="95">
                </div>

                <div class="error"><span>+</span></div>
            </form>
            <button class="loginSub"></button>
            <div class="connect">
                <p>Or connect with:</p>
                <p>
                    <a class="facebook" href=""></a>
                    <a class="twitter" href=""></a>
                </p>
            </div>
        </div>
        <div align="center">Collect from <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a></div>

        <script th:inline="javascript">
            var ctx = [(${ctx})]
        </script>
        <script th:src="@{/static/js/jquery-1.8.2.min.js}"></script>
        <script th:src="@{/static/js/supersized.3.2.7.min.js}"></script>
        <script th:src="@{/static/js/supersized-init.js}"></script>
        <script th:src="@{/static/js/scripts.js}"></script>
    </body>

</html>

