<!DOCTYPE html>
<html lang="en" class="x-admin-sm" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>角色列表</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" th:href="@{/static/css/font.css}">
        <link rel="stylesheet" th:href="@{/static/css/xadmin.css}">
        <script th:src="@{/static/lib/layui/layui.js}" charset="utf-8"></script>
        <script type="text/javascript" th:src="@{/static/js/xadmin.js}"></script>
        <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>

        <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="x-nav">
          <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
            <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
        </div>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body ">
                            <form class="layui-form layui-col-space5 layui-form-pane" action="" onsubmit="return false;">
                                <div class="layui-form-item">
                                    <label for="roleName" class="layui-form-label">
                                        <span class="x-red"></span>角色名称
                                    </label>
                                    <div class="layui-inline layui-show-xs-block">
                                        <input type="text" name="roleName" id="roleName"  placeholder="请输入角色名称" autocomplete="off" class="layui-input">
                                    </div>
                                    <div class="layui-inline layui-show-xs-block">
                                        <button class="layui-btn"  data-type="reload" id="search"><i class="layui-icon">&#xe615;</i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="layui-card-header">
                            <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
                            <button class="layui-btn" onclick="xadmin.open('添加角色',ctx+'admin/roleAdd',600,400,'true')"><i class="layui-icon"></i>添加</button>
                        </div>
                        <div class="layui-card-body layui-table-body layui-table-main">
                            <table id="roleList" lay-filter="roleList"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </body>
    <script>
        layui.use(['form','layer','table','jquery'], function(){
            var form=layui.form;
            var layer=layui.layer;
            var table=layui.table;
            var  $ = layui.jquery;
            //第一个实例
            table.render({
                elem: '#roleList'
                ,url: ctx+'admin/roles' //数据接口
                ,method:'post'
                ,contentType: 'application/json;charset=utf-8'
                ,page: true //开启分页
                ,toolbar: true
                ,cols: [
                    [ //表头
                        {checkbox:true,fixed: 'left'}//单选框
                        ,{field: 'id', title: 'ID', sort: true, fixed: 'left',width: 180}
                        ,{field: 'roleName', title: '角色名称',width: 120}
                        ,{field: 'remark', title: '角色描述',width: 200}
                        ,{field: 'roleIdentity', title: '角色标识',width: 150}
                        ,{field: 'createUser', title: '创建者',width: 120}
                        ,{field: 'createTime', title: '创建时间',sort:true,width: 160,templet: function (d) {
                            return showTime(d.createTime);}}
                        ,{templet: complain, title: '操作',width: 180,fixed:'right'}
                ]
                    ]
                ,response:{statusCode:200}
                ,request: {
                    pageName: 'page' //页码的参数名称，默认：page
                }
                ,id : 'roleList'
                ,parseData:function (res) {
                    return{
                        "code":res.code,
                        "msg":res.msg,
                        "count":res.count,
                        "data":res.data
                    };
                }
            });
            $('#search').on('click', function(){
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });
            //根据搜索条件重加载表格
            var $ = layui.$, active = {
                reload: function () {
                    console.log("开始条件搜索！！！")
                    table.reload('roleList', {
                        where: {
                            roleName : $('#roleName').val()
                        }
                        ,page: {
                            curr :1
                        }
                    });
                }
            };
            function complain(d){//操作中显示的内容
                if(d.id!=null){
                    return [
                        '<button  type="button" class="layui-btn layui-btn-xs update" lay-event="edit">修改角色信息</button>',
                        '<button type="button" class="layui-btn layui-btn-xs layui-btn-danger delete" lay-event="del">删除</button>',
                    ].join('');
                }else{
                    return '';
                }

            }
            //时间转换函数
            function showTime(tempDate)
            {
                if(tempDate ==null){
                    return "-";
                }
                return layui.util.toDateString(tempDate, 'yyyy-MM-dd HH:mm:ss')
            }
            //监听工具条
            table.on('tool(roleList)', function (obj) {
                var data = obj.data;
                var layEvent = obj.event;
                if(data.roleName!=null){
                    if (layEvent === 'del') {
                        layer.confirm('确认要删除吗？',function(id){
                            //发异步删除数据
                            console.log(id);
                            $.ajax({
                                url:ctx + "admin/delete/role",
                                type:"post",
                                async:true,
                                cache:true,
                                data:{
                                    id:data.id
                                },
                                success:function(data){
                                    if(data.code == 200){
                                        $(obj).parents("tr").remove();
                                        layer.msg('已删除!',{icon:1,time:1000});
                                        // 可以对父窗口进行刷新
                                        xadmin.father_reload();
                                    } else {
                                        layer.msg(data.msg,{icon:1,time:1000});
                                    }

                                },
                                error:function () {
                                    layer.msg("出错了",{icon:1,time:1000});
                                }
                            });
                        });
                    } else if (layEvent === 'edit') {
                        xadmin.open('编辑',ctx+'/admin/roleUpdate?id='+data.id,550,550,'true')
                    }
                }
            });
        });
    </script>
    <script>var _hmt = _hmt || []; (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();
    </script>
    <script th:inline="javascript">
        var ctx = [[@{/}]]
    </script>

</html>