<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecut.cnr.view.mapper.sys.SysRoleMapper">

    <resultMap id="BaseResultMap" type="com.ecut.cnr.framework.entity.sys.SysRole">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="role_name" property="roleName" jdbcType="VARCHAR"/>
        <result column="create_user_id" property="createUserId" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="role_identity" property="roleIdentity" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="DATE"/>
        <result column="create_time" property="createTime" jdbcType="DATE"/>
    </resultMap>
    <insert id="insertUserRole">
        INSERT INTO t_user_role (user_id,role_id)
        VALUE (#{userId},#{roleId})
    </insert>
    <delete id="deleteUserRole">
        DELETE
         FROM t_user_role
        WHERE user_id = #{id}
    </delete>
    <delete id="deleteUserRoleByRoleId">
        DELETE
        FROM t_user_role
        WHERE role_id = #{id}
    </delete>
    <delete id="deleteRoleMenuByRoleId">
        DELETE
        FROM t_role_menu
        WHERE role_id =#{id}
    </delete>

    <select id="selectByUserId" resultType="java.lang.String">
        SELECT
         role_id
         from t_user_role
         WHERE user_id = #{userId}
    </select>
    <select id="findRoleNamesByIds" resultType="java.lang.String">
        SELECT role_indentity
        FROM t_sys_role
        WHERE id IN
        <foreach collection="roleIds" item="roleId" close=")" open="(" separator=",">
            #{roleId}
        </foreach>
    </select>
    <select id="findBuUserId" resultType="java.lang.String">
        SELECT role_name
        FROM t_sys_role
        WHERE id IN(
        SELECT role_id
        FROM t_user_role
        WHERE user_id =#{id}
        )
    </select>
    <select id="findAllRoles" resultType="com.ecut.cnr.framework.entity.sys.bo.RoleInfoBO">
        SELECT
        tr.id,tr.role_name,tr.remark,tr.create_user_id,tr.create_time,tr.update_time,tr.role_identity,tu.username
        FROM t_sys_role tr,t_sys_user tu
        where tr.create_user_id = tu.id
    </select>
</mapper>
