<!DOCTYPE html>
<html lang="en" class="x-admin-sm" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"><head>
  <meta charset="UTF-8">
  <title>微新闻</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" type="text/css" th:href="@{/static/css/main.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/static/layui/css/layui.css}">
  <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
</head>
<body class="micronews">
<div class="micronews-header-wrap">
  <div class="micronews-header w1000 layui-clear">
    <h1 class="logo">
      <a href="index.html">
        <img th:src="@{/static/images/LOGO.png}" alt="logo">
        <span class="layui-hide">LOGO</span>
      </a>
    </h1>
    <p class="nav">
      <a href="/news/index">最新</a>
      <a th:each="types : ${newsTypes}" th:attr="class = ${types.id.equals(typeId) ? 'active' : ''}"  th:href="@{'/new/get/byType?id='+${types.id}}"  th:text="${types.typeName}"></a>
    </p>
    <div class="search-bar">
      <form class="layui-form" action="">
        <div class="layui-form-item">
          <div class="layui-input-block">
            <input type="text" name="title" placeholder="搜索你要的内容" autocomplete="off" class="layui-input">
            <button class="layui-btn search-btn"  formnovalidate><i class="layui-icon layui-icon-search"></i></button>
          </div>
        </div>
      </form>
    </div>
    <div class="login">
      <a href="login.html">
        登录
      </a>
      <!-- <a href="login.html"> -->
      <!-- <img src="../res/static/images/header.png" style="width: 36px; height: 36px;"> -->
      <!-- </a> -->
    </div>
    <div class="menu-icon">
      <i class="layui-icon layui-icon-more-vertical"></i>
    </div>
    <div class="mobile-nav">
      <ul class="layui-nav" lay-filter="">
        <li class="layui-nav-item layui-this"><a href="index.html">最新</a></li>
        <li class="layui-nav-item" th:each="types : ${newsTypes}"><a href="list.html" th:text="${types.typeName}"></a></li>
      </ul>
    </div>
  </div>
</div>


  <div class="micronews-container micronews-list-container w1000">
    <h3>娱乐资讯</h3>
    <div class="layui-fluid">
      <div class="layui-row">
        <div class="layui-col-xs12 layui-col-sm12 layui-col-md8">
          <div class="main">
            <div class="list-item" id="LAY_demo2">
              <div class="item" th:each="newInfo : ${news}">
                <a href="details.html">
                  <img th:src="${newInfo.newsPic}">
                </a>
                <div class="item-info">
                  <h4><a th:href="@{'/new/detail?id='+${newInfo.id}}" th:text="${newInfo.title}"></a></h4>
                  <div class="b-txt">
                    <span class="label" th:text="${newInfo.typeName}"></span>
                    <span class="icon message">
                      <i class="layui-icon layui-icon-dialogue"></i>
                      <span th:text="${newInfo.commentTimes}"></span>
                    </span>
                    <span class="icon time">
                      <i class="layui-icon layui-icon-log"></i>
                      <span th:text="${newInfo.pubTime}"></span>
                    </span>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="layui-col-xs12 layui-col-sm12 layui-col-md4">
          <div class="popular-info">
            <div class="layui-card">
              <div class="layui-card-header">
                <h3>校内公告</h3>
              </div>
              <div class="layui-card-body">
                <ul class="list-box">
                  <li class="list">

                    <a href="list.html">你和我的倾城时光</a><i class="heat-icon"></i>

                  </li>
                  <li class="list">

                    <a href="list.html">顶级酒店内幕被曝光</a><i class="heat-icon"></i>

                  </li>
                  <li class="list">

                    <a href="list.html">王思聪抽奖</a><i class="heat-icon"></i>

                  </li>
                  <li class="list">

                    <a href="list.html">王者荣耀上官婉儿</a>

                  </li>
                  <li class="list">

                    <a href="list.html">妻子的浪漫旅行</a>

                  </li>
                  <li class="list">

                    <a href="list.html">海底捞回应员工偷拍</a>

                  </li>
                  <li class="list">

                    <a href="list.html">扎克伯格禁止高管用iPhone</a>

                  </li>
                  <li class="list">

                    <a href="list.html">王思聪抽手机壳送手机</a>

                  </li>
                  <li class="list">

                    <a href="list.html">每天闹钟20次提醒男友抽奖 </a>

                  </li>
                  <li class="list">

                    <a href="list.html">詹姆斯收藏比赛用球</a>

                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- content-laytpl -->
  <script id="demo" type="text/html">
  {{#  layui.each(d.itemCont, function(index, item){ }}
    <div class="item">
      {{# if(item.img){ }}
      <a href="details.html">
      <img src="{{item.img}}">
      </a>
      {{#  } }}  

      <div class="item-info">
        <h4><a href="details.html">{{item.title}}</a></h4>
        <div class="b-txt">
          <span class="label">{{item.label}}</span>
          <span class="icon message">
            <i class="layui-icon layui-icon-dialogue"></i>
            {{item.message}}
          </span>
          <span class="icon time">
            <i class="layui-icon layui-icon-log"></i>
            {{item.time}}
          </span>
        </div>
      </div>
    </div>
  {{#  }); }}
  </script>
  <!-- end-content-laytpl-->



<div class="micronews-footer-wrap">
  <div class="micronews-footer w1000">
    <div class="ft-nav">
      <a href="#">关于我们</a>
      <a href="#">合作伙伴</a>
      <a href="#">广告服务</a>
      <a href="#">常见问题</a>
    </div>
    <div class="Copyright">
      <span>Copyright&nbsp;</span>&nbsp;&copy;<span>新闻网&nbsp;&nbsp;</span><span>赣ICP备12345678号</span>
    </div>
    <div class="f-icon">
      <a href="#" class="w-icon">
        <img th:src="@{/static/images/wechat_ic.png}">
      </a>
      <a href="#" class="wb-icon">
        <img th:src="@{/static/images/qq_ic.png}">
      </a>
    </div>
  </div>
</div>

  <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
<script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>

<script>
  layui.config({
    base: '/news/static/js/'
  }).use('index',function(){
    var index = layui.index;
    index.banner()
    index.seachBtn()
    index.arrowutil()
  });
</script>
</body>
</html>