<!DOCTYPE html>
<html lang="en" class="x-admin-sm" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.2</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" th:href="@{/static/css/font.css}">
    <link rel="stylesheet" th:href="@{/static/css/xadmin.css}">
    <script th:src="@{/static/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/static/js/xadmin.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/jquery.min.js}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row">
        <form class="layui-form" method="post">
            <input type="hidden" th:value="${sysMenu.icon}" id="postIcon"/>
            <input type="hidden" th:value="${sysMenu.parentId}" name="parentId"/>
            <input type="hidden" th:value="${sysMenu.id}" name="id"/>
            <div class="layui-form-item">
                <label for="menuName" class="layui-form-label">
                    <span class="x-red">*</span>权限名称
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="menuName" name="menuName" required="" lay-verify="required"
                           autocomplete="off" class="layui-input" th:value="${sysMenu.menuName}">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="url" class="layui-form-label">
                    <span class="x-red">*</span>url
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="url" name="url" required=""
                           autocomplete="off" class="layui-input" th:value="${sysMenu.url}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span class="x-red">*</span>是否可见</label>
                <div class="layui-input-block">
                    <input  name="visable" type="radio" th:attr="checked = ${sysMenu.visable == 1 ? true :false}"  value="1" lay-skin="primary" title="可见">
                    <input  name="visable" type="radio" th:attr="checked = ${sysMenu.visable == 0 ? true :false}" value="0" lay-skin="primary" title="不可见">
                </div>
            </div>

            <div class="layui-form-item">
                <label for="perms" class="layui-form-label">
                    <span class="x-red">*</span>权限标识
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="perms" name="perms" required=""
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="iconPicker" class="layui-form-label">选择图标</label>
                <div class="layui-input-block">
                    <input type="text" id="iconPicker" name="icon" lay-filter="iconPicker" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span class="x-red">*</span>类型</label>
                <div class="layui-input-block">
                    <input  name="type" type="radio" value="1" th:attr="checked = ${sysMenu.type == 1 ? true :false}" checked lay-skin="primary" title="菜单">
                    <input  name="type" type="radio" value="2" th:attr="checked = ${sysMenu.type == 2 ? true :false}" lay-skin="primary" title="按钮">
                    <input  name="type" type="radio" value="3" th:attr="checked = ${sysMenu.type == 3 ? true :false}" lay-skin="primary" title="链接">
                </div>
            </div>

            <div class="layui-form-item">
                <button  class="layui-btn" lay-filter="update" lay-submit>
                    修改
                </button>
            </div>
        </form>
    </div>
</div>
<script>
    layui.config({
        base: '/cnr/static/lib/'
    }).extend({
        iconPicker: 'iconPicker/iconPicker'
    }).use(['form','jquery','layer','iconPicker'],function() {
        $ = layui.jquery;
        var form = layui.form;
        var iconPickers = layui.iconPicker;
        var layer = layui.layer;
        //自定义验证规则
        var icons = iconPickers.render({
            // 选择器，推荐使用input
            elem: '#iconPicker',
            // 数据类型：fontClass/unicode，推荐使用fontClass
            type: 'fontClass',
            // 是否开启搜索：true/false
            search: true,
            // 是否开启分页
            page: true,
            // 每页显示数量，默认12
            limit: 12,
            // 点击回调
            click: function (data) {
                console.log(data);
            }
        });
        iconPickers.checkIcon('iconPicker', $("#postIcon").val());
        //监听提交
        form.on('submit(update)',
            function(data) {
                console.log(data.field);
                //发异步，把数据提交给后端
                $.ajax({
                    url: ctx+"admin/update/menu",
                    type: "post",
                    data: JSON.stringify(data.field),
                    dataType: "json",
                    contentType: "application/json",
                    success:function(data){
                        if(data.code == 200){
                            layer.alert("修改成功", {
                                    icon: 6
                                },
                                function() {
                                    //关闭当前frame
                                    xadmin.close();

                                    // 可以对父窗口进行刷新
                                    xadmin.father_reload();
                                });
                        } else {
                            layer.msg(data.msg,{icon:1,time:1000});
                        }

                    }
                });

                return false;
            });

    });



</script>
<script>var _hmt = _hmt || []; (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
})();</script>
</body>
<script th:inline="javascript">
    var ctx = [[@{/}]];
</script>
</html>
